body {
  font-family: "Didact Gothic", sans-serif !important;
}

p {
  font-size: 40px;
  padding: 0px;
}

ul {
  font-size: 20p;
  list-style: none;
  padding: 0px;
}
.container {
  text-align: center;
  text-decoration: none;
}

.fw-light {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.about {
  display: flex;
  text-align: right;
  margin: 10px;
}

.nombre-home {
  position: absolute; 
  right: 380px !important;
  top: 250px;
}

.home-link {
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.home-title {
  font-family: "Didact Gothic", sans-serif;
  font-size: 27px;
}
.home-link {
  font-family: "Didact Gothic", sans-serif;
}

.home-link:hover {
  background-color: #394d7f;
  padding: 5px;
  border-radius: 10px;
}

.nombre-mari {
  font-size: 40px;
}

.about-mari {
  width: 80%;
}

.navbar {
  font-family: "Didact Gothic", sans-serif !important;
}

.social-icons {
  color: black;
}
