body {
  font-family: "Didact Gothic", sans-serif !important;
}

p {
  font-size: 40px;
  padding: 0px;
}

ul {
  font-size: 20p;
  list-style: none;
  padding: 0px;
;
}
.container {
  text-align: center;
  text-decoration: none;
}

.fw-light {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.about {
  display: flex;
  text-align: right;
  margin: 10px;
}

.container-home {

  position: relative;
}

.nombre-home {
  display: flex;
  flex-direction: column;
  position: absolute; 
  right: 80px !important;
  top: 250px;


}

.home-link {
  text-decoration: none;
  color: black;
  opacity: 80%;
}

.home-title {
  font-family: "Didact Gothic", sans-serif;
  font-size: 27px;
}
.home-link {
  font-family: "Didact Gothic", sans-serif;
}

.home-link:hover {
  background-color: #F0DCDD;
  padding: 4px 13px;
  
  border-radius: 10px;
}

.nombre-mari {
  font-size: 40px;
}

.about-mari {
  width: 80%;
}

.navbar {
  font-family: "Didact Gothic", sans-serif !important;
}

.social-icons {
  color:black;
}


.about-bio{
font-size: 200px;
padding-top: 100px;

}

.foto-home-vertical {
  display:none;
}


.footer-home {
  font-size: 13px;
  
}

.nombre-footer {
  font-size: 13px;
  
}

footer {
  padding-bottom: 15px;
  text-align: center;
}





@media (max-width:1180px) {


  
.foto-home {
  display:none;

}
.foto-home-vertical{
  display:block;

}

.nombre-mari {
  font-size: 26px;
}

.home-title {
  font-size: 19px;


}

img {
  max-width: 50%;
  padding-top: 10px;
}

footer {
  padding-bottom: 50px;
  text-align: center;
}

.about-bio {
  position: relative;
  top: -100px

}

@media (max-width:767px) {

  .nombre-home {
  
position: absolute;
right: 10px !important

  }

  img {
    max-width: 50%;
    padding-top: 10px;
  }

  .iconos-footer {
    align-items: center;
  }

  footer {
    padding-bottom: 50px;
    text-align: center;
  }
  .about-bio {
    position: relative;
    top: -100px
  
}

@media (max-width:440px) {

  .nombre-mari {
    font-size:  16px;
  }
  
  .home-title {
    font-size: 13px;
  
    
  
  }

  .nombre-home {
  
    position: absolute;
    right: 10px !important;
    top: 100px;
    
    
}

.home-link {
  font-size: 13px;
}

.footer-home {
  font-size: 9px;
  
  
}

.nombre-footer {
  font-size: 9px;
  
  
}

footer {
  padding-bottom: 50px;
  text-align: center;
  
   
}

img {
  max-width: 50%;
  padding-top: 10px;
}

.about-bio {
  position: relative;
  top: -100px
}



}